/* Sine's Design Theory */
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sumDesignTheory{
    background-color: aqua;
}

.sectDesignPrinciples{
    background-color: rgb(20, 211, 62);
}

.sectColourTheory{
    background-color: rgb(198, 3, 215);
}

.sectTypography{
    background-color: rgb(229, 12, 48);
}

.sectLayout{
    background-color: rgb(217, 255, 0);
}






/* Zara's nav bar (Side) */
.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #a2a19f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #030202;
    display: block;
    transition: 0.3s;
    text-shadow: 2px 2px 5px #8b8b8a;
}
  
.sideNav a:hover {
    color: #fdf8f8;
}
  
.sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
#main {
    transition: margin-left .5s;
    padding: 16px;
    color: rgb(27, 5, 168);
    text-shadow: 2px 2px 5px grey;
}


@media screen and (max-height: 450px) {
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(217, 217, 225);
    text-align: center;
    color: rgb(27, 5, 168);
    text-shadow: 2px 2px 5px #b1b0af;
}
















