body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
      background-color: rgb(254, 253, 251);
}
  
/* Style the header */
header {
    background-color: rgb(217, 217, 225);
    border: 2px solid black;
    margin: auto;  
    padding: 10px;
    text-align: center;
    color: rgb(27, 5, 168);
    text-shadow: 2px 2px 5px #b1b0af;
 }

 /*responsive header text*/
@media only screen and (max-width: 300px) {
  header {font-size: 11px}
}
 
 /* side bar nav */
 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #a2a19f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #030202;
    display: block;
    transition: 0.3s;
    text-shadow: 2px 2px 5px #8b8b8a;
}
  
.sidenav a:hover {
    color: #fdf8f8;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
#main {
    transition: margin-left .5s;
    padding: 16px;
    color: rgb(27, 5, 168);
    text-shadow: 2px 2px 5px grey;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


section {
    text-align: center; /* Aligning text to center */
    max-width: 600px; 
    margin: 0 auto; /* Centering the section horizontally */
    padding: 20px; 
    text-shadow: 2px 2px 5px #d1d0cf;
}

p {
  border: 2px solid black;
  margin: auto;  
  padding: 20px;
  text-align: center;
}

h3 {
  border: 2px solid black;
  margin: auto;  
  padding: 20px;
  text-align: center;
}

/*responsive text*/
@media only screen and (max-width: 300px) {
  section {font-size: 11px}
}
  

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(217, 217, 225);
    text-align: center;
    color: rgb(27, 5, 168);
    text-shadow: 2px 2px 5px #b1b0af;
}
 